
# Ignore .vscode folder
.vscode/

# jajucha2
jajucha2/

# UserModels
usermodels/

#Projects
projects/

#sv_host
sv_host/.ipynb_checkpoints/
sv_host/node_modules/
sv_host/package-lock.json

#ui
ui/
ui.zip

#ui_host
ui_host/node_modules
ui_host/package-lock.json

#update
update/node_modules
update/package-lock.json

#ubutnu setup
setup.sh

# Optional: Ignore other common Node.js files and directories
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store

# Ignore environment files
.env

# Ignore logs
logs/
*.log

